<h1>This is the Document Title</h1>
<p><strong><em>Lorem ipsum dolor sit amet</em></strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <em>mollit anim id est laborum</em>.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <code>nostrud exercitation</code> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <code>ad minim veniam</code>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Here&#8217;s an <em>Interesting</em> Header</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="/">exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<ul>
	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
	<li>f(x, n) = log<sub>4</sub>x<sup>n</sup></li>
	<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
	<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</li>
</ul>
<h3>Now Fill Out the Form</h3>
<form>
  <dl>
    <dt>
      First Name
    </dt>
    <dd>
      <input name="first_name" type="text">
    </dd>
  </dl>
  <dl>
    <dt>
      Last Name
    </dt>
    <dd>
      <input name="last_name" type="text">
    </dd>
  </dl>
  <dl>
    <dt>
      Password
    </dt>
    <dd>
      <input name="password" type="password">
    </dd>
  </dl>
  <dl>
    <dt>
      Gender
    </dt>
    <dd>
      <label for="gender_male">
        <input id="gender_male" name="gender" type="radio">
        Male
      </label>
    </dd>
    <dd>
      <label for="gender_female">
        <input id="gender_female" name="gender" type="radio">
        Female
      </label>
    </dd>
    <dd>
      <label for="gender_other">
        <input id="gender_other" name="gender" type="radio">
        Other
      </label>
    </dd>
  </dl>
  <dl>
    <dt>
      Subscribe
    </dt>
    <dd>
      <label for="subscription0">
        <input id="subscription0" name="subscriptions[]" type="checkbox">
        Magazine
        0
      </label>
    </dd>
    <dd>
      <label for="subscription1">
        <input id="subscription1" name="subscriptions[]" type="checkbox">
        Magazine
        1
      </label>
    </dd>
    <dd>
      <label for="subscription2">
        <input id="subscription2" name="subscriptions[]" type="checkbox">
        Magazine
        2
      </label>
    </dd>
    <dd>
      <label for="subscription3">
        <input id="subscription3" name="subscriptions[]" type="checkbox">
        Magazine
        3
      </label>
    </dd>
    <dd>
      <label for="subscription4">
        <input id="subscription4" name="subscriptions[]" type="checkbox">
        Magazine
        4
      </label>
    </dd>
  </dl>
  <dl>
    <dt>
      State
    </dt>
    <dd>
      <select name="state">
        <option value="state0">
          State
          0
        </option>
        <option value="state1">
          State
          1
        </option>
        <option value="state2">
          State
          2
        </option>
        <option value="state3">
          State
          3
        </option>
        <option value="state4">
          State
          4
        </option>
        <option value="state5">
          State
          5
        </option>
        <option value="state6">
          State
          6
        </option>
        <option value="state7">
          State
          7
        </option>
        <option value="state8">
          State
          8
        </option>
        <option value="state9">
          State
          9
        </option>
        <option value="state10">
          State
          10
        </option>
        <option value="state11">
          State
          11
        </option>
        <option value="state12">
          State
          12
        </option>
        <option value="state13">
          State
          13
        </option>
        <option value="state14">
          State
          14
        </option>
        <option value="state15">
          State
          15
        </option>
        <option value="state16">
          State
          16
        </option>
        <option value="state17">
          State
          17
        </option>
        <option value="state18">
          State
          18
        </option>
        <option value="state19">
          State
          19
        </option>
        <option value="state20">
          State
          20
        </option>
        <option value="state21">
          State
          21
        </option>
        <option value="state22">
          State
          22
        </option>
        <option value="state23">
          State
          23
        </option>
        <option value="state24">
          State
          24
        </option>
        <option value="state25">
          State
          25
        </option>
        <option value="state26">
          State
          26
        </option>
        <option value="state27">
          State
          27
        </option>
        <option value="state28">
          State
          28
        </option>
        <option value="state29">
          State
          29
        </option>
        <option value="state30">
          State
          30
        </option>
        <option value="state31">
          State
          31
        </option>
        <option value="state32">
          State
          32
        </option>
        <option value="state33">
          State
          33
        </option>
        <option value="state34">
          State
          34
        </option>
        <option value="state35">
          State
          35
        </option>
        <option value="state36">
          State
          36
        </option>
        <option value="state37">
          State
          37
        </option>
        <option value="state38">
          State
          38
        </option>
        <option value="state39">
          State
          39
        </option>
        <option value="state40">
          State
          40
        </option>
        <option value="state41">
          State
          41
        </option>
        <option value="state42">
          State
          42
        </option>
        <option value="state43">
          State
          43
        </option>
        <option value="state44">
          State
          44
        </option>
        <option value="state45">
          State
          45
        </option>
        <option value="state46">
          State
          46
        </option>
        <option value="state47">
          State
          47
        </option>
        <option value="state48">
          State
          48
        </option>
        <option value="state49">
          State
          49
        </option>
      </select>
    </dd>
  </dl>
  <dl>
    <dt>
      Biography
    </dt>
    <dd>
      <textarea cols="50" rows="10"></textarea>
    </dd>
  </dl>
  <p class="submit">
    <input type="submit" value="Submit the Form">
  </p>
</form>
<h2>Back to <a href="/">Another Topic</a></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in <a href="/">culpa qui officia</a> deserunt mollit anim id est laborum.</p>
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <del>eiusmod tempor</del> <ins>incididunt</ins> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p><cite>&#8212; Charles Dickens</cite></p>
</blockquote>
<p>Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>Starting the <strong>Sub-Topics</strong></h3>
<h4>First Bit of Info</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit:</p>
<pre><code>get '/stylesheets/:filename.css' do |filename|&#x000A;  content_type 'text/css', :charset =&gt; 'utf-8'&#x000A;  less :'stylesheets/file'&#x000A;end</code></pre>
<h4>2<sup>nd</sup> Bit&#8212;Straight to the Code</h4>
<pre><code>ENV['RACK_ENV'] ||= 'production'&#x000A;#&#x000A;require 'app'&#x000A;run Sinatra::Application</code></pre>
<h1><em>Introducing</em> a Completely <strong>New</strong> Topic within this Document</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<ol>
	<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
	<li>Sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
	<li><p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
	<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
</ol>
<h2>And a <strong>Table</strong> for Your <strong>Trouble</strong></h2>
<table>
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th class="numeric">
        Price
      </th>
      <th class="numeric">
        Qty
      </th>
      <th class="numeric">
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        1123
      </td>
      <td>
        Peanut Butter
      </td>
      <td class="numeric">
        $4.99
      </td>
      <td class="numeric">
        1
      </td>
      <td class="numeric">
        $4.99
      </td>
    </tr>
    <tr>
      <td>
        4563
      </td>
      <td>
        Dozen Eggs
      </td>
      <td class="numeric">
        $1.49
      </td>
      <td class="numeric">
        2
      </td>
      <td class="numeric">
        $2.98
      </td>
    </tr>
    <tr>
      <td>
        2345
      </td>
      <td>
        Cereal
      </td>
      <td class="numeric">
        $2.95
      </td>
      <td class="numeric">
        4
      </td>
      <td class="numeric">
        $11.80
      </td>
    </tr>
    <tr>
      <td>
        8358
      </td>
      <td>
        Dish Soap
      </td>
      <td class="numeric">
        $3.43
      </td>
      <td class="numeric">
        1
      </td>
      <td class="numeric">
        $3.43
      </td>
    </tr>
    <tr>
      <td>
        9432
      </td>
      <td>
        Bananas
      </td>
      <td class="numeric">
        $0.99
      </td>
      <td class="numeric">
        3
      </td>
      <td class="numeric">
        $2.97
      </td>
    </tr>
    <tr>
      <td>
        1456
      </td>
      <td>
        Quaker Oats
      </td>
      <td class="numeric">
        $2.19
      </td>
      <td class="numeric">
        1
      </td>
      <td class="numeric">
        $2.19
      </td>
    </tr>
  </tbody>
</table>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>