<dl>
  <dt>Current Worldwide <abbr title="Solutions Per Hour">SPH</abbr></dt>
  <dd><%= @solutions_in_last_hour %></dd>
</dl>

<form id="solution_new" action="/" method="post">
	<dl>
		<dt>
			<label for="solution_email">Optional Email</label>
		</dt>
		<dd>
			<input type="email" name="email" />
		</dd>
	</dl>
	<p>
		<input type="submit" value="Somebody Said &ldquo;Solution&rdquo;" />
	</p>
</form>