<div id="primary">

  <div id="sph_rates">
    
    <dl class="sph_rate worldwide">
      <dt><%= sph %> Worldwide</dt>
      <dd><%= @worldwide_sph %></dd>
    </dl>

    <dl class="sph_rate request_ip">
      <dt><%= sph %> from your IP</dt>
      <dd><%= @request_ip_sph %></dd>
    </dl>
    
  </div>

  <form id="new_solution" action="/" method="post">
    <fieldset>
      <h3>Did Someone Just Say It?</h3>
      <p>Chances are they could have used a more <em>descriptive</em> and <em>contextually appropriate</em> phrase. Do your part by logging their <span class="smallcaps">lack of expressive language</span> &mdash; think of it as a <strong>petition against <em>monotonous marketing</em></strong>.</p>
    	<p><input type="submit" value="Someone said &ldquo;Solution&rdquo;" /></p>
    </fieldset>
  </form>
  
</div>

<div id="secondary">

  <blockquote id="jerk">
    <p>We don&rsquo;t need to know what the problem is &mdash; <strong>we have the solution!</strong></p>
    <img src="/images/business_meeting.png" alt="Jerk in a business meeting">
  </blockquote>

</div>