<div id="primary">

  <dl class="worldwide">
    <dt>Worldwide</dt>
    <dd><strong class="sph"><%= @worldwide_sph %></strong> <%= sph %></dd>
  </dl>

  <dl class="request_ip">
    <dt>From your IP</dt>
    <dd><strong class="sph"><%= @request_ip_sph %></strong> <%= sph %></dd>
  </dl>

  <form id="new_solution" action="/" method="post">
    <fieldset>
      <h3>Did Somebody Just Say It?</h3>
      <p>Chances are they could have used a more <em>descriptive</em> and <em>contextually appropriate</em> phrase. Do your part by logging their <span class="smallcaps">lack of expressive language</span> &mdash; think of it as a <strong>petition against <em>monotonous marketing</em></strong>.</p>
    	<p><input type="submit" value="Somebody said &ldquo;Solution&rdquo;" /></p>
    </fieldset>
  </form>
  
</div>

<div id="secondary">

  <blockquote id="jerk">
    <p>We don&rsquo;t need to know what the problem is &mdash; <strong>we have the solution!</strong></p>
    <img src="/images/business_meeting.png" />
  </blockquote>

</div>