.regular { font-family: LatinModernRoman10Regular, serif; }
.italic {
  font-family: LatinModernRoman10Italic, serif;
  font-style: italic;
}
.bold {
  font-family: LatinModernRoman10Bold, serif;
  font-weight: bold;
}
.bold_italic {
  font-family: LatinModernRoman10BoldItalic, serif;
  font-style: italic;
  font-weight: bold;
}
.condensed { font-family: LatinModernRomanDunhill10Regula, serif; }
.condensed_italic {
  font-family: LatinModernRomanDunhill10Obliqu, serif;
  font-style: italic;
}
.smallcaps { font-family: LatinModernRomanCaps10Regular, serif; }
.smallcaps_italic {
  font-family: LatinModernRomanCaps10Oblique, serif;
  font-style: italic;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.hide_element {
  left: -9999px;
  position: absolute;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body { padding: 0; }
#container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}
#site_header {
  border-bottom: 1px solid #eeeeee;
  padding: 48px 48px 24px;
}
#site_header:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#site_header #site_title { margin: 0; }
#site_header #site_tagline { margin: 0; }
#site_header #site_title {
  font-family: LatinModernRomanDunhill10Obliqu, serif;
  font-style: italic;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  position: relative;
  top: -3px;
}
#site_header #site_tagline {
  font-family: LatinModernRomanCaps10Regular, serif;
  float: right;
  text-transform: lowercase;
}
#site_header #site_tagline em {
  font-family: LatinModernRomanCaps10Oblique, serif;
  font-style: italic;
  color: black;
}
#flash {
  position: absolute;
  right: 24px;
  top: 36px;
}
#flash div {
  -moz-border-radius: 4.8px;
  -o-border-radius: 4.8px;
  -webkit-border-radius: 4.8px;
  border-radius: 4.8px;
  padding: 12px;
  text-align: center;
  width: 576px;
}
#flash p { margin: 0; }
#flash .ok {
  background: #00aa00;
  color: white;
}
#flash .notice { background: #eeddaa; }
#flash .error {
  background: #cc0000;
  color: white;
}
#page_content { padding-top: 24px; }
#page_content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#primary {
  float: left;
  margin-left: 48px;
  width: 408px;
}
#primary #new_solution input[type="submit"] {
  font-family: LatinModernRomanCaps10Regular, serif;
  font-size: 24px;
  line-height: 48px !important;
  width: 100%;
}
#secondary {
  float: right;
  width: 480px;
}
#secondary #jerk {
  font-family: LatinModernRoman10Italic, serif;
  font-style: italic;
  height: 443.564356435644px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: relative;
}
#secondary #jerk strong {
  font-family: LatinModernRoman10BoldItalic, serif;
  font-style: italic;
  font-weight: bold;
}
#secondary #jerk p {
  bottom: 330px;
  left: 5px;
  margin: 0;
  position: absolute;
  text-align: center;
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  width: 240px;
}
#secondary #jerk img {
  left: 0;
  position: absolute;
  top: 0;
  width: 480px;
}
#site_footer {
  border-top: 1px solid #eeeeee;
  clear: both;
  padding: 24px 48px;
}
#site_footer .author { margin-bottom: 0; }
#site_footer .colophon {
  font-family: LatinModernRomanCaps10Regular, serif;
  font-size: 14px;
}
